body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

canvas {
  background-color: #000;
  border: 2px solid #fff;
  margin-top: 20px;
}

#scoreBoard {
  margin-top: 10px;
  font-size: 18px;
}
